.villaDetailTitle {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: #02044A;
    margin: 30px 0 30px 0;
}

.services {
    width: 100%;
    position: relative;
    margin: 0 0 60px 0;
}

.services .box {
    width: 100%;
}

.services .box .bottom {
    width: 100%;
}

.services .box .bottom .row {
    margin: -10px;
}

.services .box .bottom ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.services .box .bottom ul li {
    width: calc(100% / 6);
    padding: 5.50px;
}

.services .box .bottom ul li .column {
    width: 100%;
    height: 180px;
    background: #F9F6FF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    top: 0;
    transition: all .4s ease-in-out;
}

.services .box .bottom ul li .column:hover {
    background: #7E53F9;
}

.services .box .bottom ul li .column:hover .iconBox i {
    opacity: 0;
    visibility: hidden;
}

.services .box .bottom ul li .column:hover .iconBox i.two_i {
    opacity: 1;
    visibility: visible;
}

.services .box .bottom ul li .column:hover .title {
    color: #ffffff;
}

.services .box .bottom ul li .column:hover .distance {
    color: #FFFFFF;
}

.services .box .bottom ul li .column a {
    width: 100%;
    display: block;
    padding: 20px 0 0 0;
}

.services .box .bottom ul li .column .iconBox {
    width: 100%;
    height: 40px;
    margin: 0 0 25px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services .box .bottom ul li .column .iconBox i {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in-out;
    width: 40px;
    height: 100%;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    z-index: 2;
    background-size: contain;
}

.services .box .bottom ul li .column .iconBox i.two_i {
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

.services .box .bottom ul li .column .title {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #02044A;
    transition: all .4s ease-in-out;
    margin: 0 0 5px 0;
}

.services .box .bottom ul li .column .distance {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #7E53F9;
    transition: all .4s ease-in-out;
}

@media screen and (max-width: 1699px) {
    .services .box .bottom ul li .column .title {
        font-size: 14px;
    }
}

@media screen and (max-width: 1499px) {
    .services .box .bottom ul li .column {
        padding: 10px 5px;
    }

    .services .box .bottom ul li .column a {
        padding: 10px 0 0 0;
    }

    .services .box .bottom ul li .column a .title {
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    .services .box .bottom ul li {
        width: 50%;
        padding: 0 10px;
        margin: 5px 0;
    }

    .services .box .bottom ul li .column {
        height: 160px;
    }

    .services .box .bottom ul li .column a {
        padding: 10px 0 0 0;
    }

    .services .box .bottom ul li .column a .title {
        font-size: 12px;
    }
}