.container {
    width: 1600px;
    margin: 0 auto;
}

.contentDetail {
    width: 100%;
    padding: 120px 0;
}

.titleBox {
    width: 100%;
    margin: 0 0 60px 0;
}

.titleBox .title {
    width: 100%;
    color: #02044A;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
}

.contact .infoBox {
    width: 100%;
    margin: 0 0 120px 0;
}

.contact .infoBox ul.box {
    width: 100%;
    display: flex;
}

.contact .infoBox ul.box li.item {
    width: 25%;
    border: 1px solid transparent;
    padding: 65px 0 75px 0;
    transition: all 0.2s ease-in-out;
    border-radius: 16px;
    background: #FFFFFF;
    cursor: pointer;
}

.contact .infoBox ul.box li.item:hover {
    border: 1px solid #D9D9E4;
    box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
}

.contact .infoBox ul.box li.item .imageBox {
    margin: 0 0 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact .infoBox ul.box li.item .imageBox i {
    width: 50px;
    height: 50px;
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
}

.contact .infoBox ul.box li.item .imageBox i.address {
    background-image: url(/images/map.png);
}

.contact .infoBox ul.box li.item .imageBox i.phone {
    background-image: url(/images/call-calling.png);
}

.contact .infoBox ul.box li.item .imageBox i.clock {
    background-image: url(/images/clock-2.png);
}

.contact .infoBox ul.box li.item .imageBox i.like {
    background-image: url(/images/like.png);
}

.contact .infoBox ul.box li.item .nameBox {
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #02044A;
    text-align: center;
    margin: 0 0 15px 0;
}

.contact .infoBox ul.box li.item .descBox {
    width: 100%;
    margin: 0 0 8px 0;
    padding: 0 55px;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #6A6B93;
}

.contact .infoBox ul.box li.item .mapLinkBox {
    width: 100%;
    text-align: center;
}

.contact .infoBox ul.box li.item .mapLinkBox a {
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #7E53F9;
}

.contact .infoBox ul.box li.item .socialMedia {
    width: 100%;
    padding: 10px 0 0 0;
}

.contact .infoBox ul.box li.item .socialMedia ul {
    display: flex;
    justify-content: center;
}

.contact .infoBox ul.box li.item .socialMedia ul li {
    display: flex;
    margin: 0 10px 0 0;
}

.contact .infoBox ul.box li.item .socialMedia ul li:last-child {
    margin: 0;
}

.contact .infoBox ul.box li.item .socialMedia ul li a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(106, 107, 147, 0.1);
    position: relative;
    display: flex;
    align-items: center;
    transition: all .4s ease-in-out;
}

.contact .infoBox ul.box li.item .socialMedia ul li a:hover {
    background-color: #7E53F9;
}

.contact .infoBox ul.box li.item .socialMedia ul li a:hover.facebook i {
    background-image: url("/images/contact-facebook-hover.png");
}

.contact .infoBox ul.box li.item .socialMedia ul li a:hover.instagram i {
    background-image: url("/images/contact-instagram-hover.png");
}

.contact .infoBox ul.box li.item .socialMedia ul li a:hover.youtube i {
    background-image: url("/images/contact-youtube-hover.png");
}

.contact .infoBox ul.box li.item .socialMedia ul li a:hover.google i {
    background-image: url("/images/contact-google-hover.png");
}

.contact .infoBox ul.box li.item .socialMedia ul li a.facebook i {
    background-image: url("/images/facebook-contact.png");
}

.contact .infoBox ul.box li.item .socialMedia ul li a.instagram i {
    background-image: url("/images/instagram-contact.png");
}

.contact .infoBox ul.box li.item .socialMedia ul li a.youtube i {
    background-image: url("/images/youtube-contact.png");
}

.contact .infoBox ul.box li.item .socialMedia ul li a.google i {
    background-image: url("/images/google-contact.png");
}

.contact .infoBox ul.box li.item .socialMedia ul li a i {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .4s ease-in-out;
}

.contact .mapBox {
    width: 100%;
    margin: 0 0 60px 0;
}

.contact .mapBox .map {
    width: 100%;
    height: 700px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    font-size: 60px;
}

#contactForm ul li .inputBox label.error {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
    position: absolute;
    bottom: -30px;
    left: 0;
    padding: 8px 12px 6px;
    background: red;
    color: #ffffff;
    font-size: 14px;
    line-height: 22px;
    z-index: 1;
    width: 100%;
}

#contactForm ul li .inputBox label.error:after {
    content: "";
    position: absolute;
    top: -12px;
    left: 50%;
    border: 6px solid transparent;
    border-bottom: 6px solid #f8353e;
}

.contact .mapBox .contactFormBox {
    width: 100%;
    margin: -225px 0 0 0;
    z-index: 2;
    position: relative;
}

.contact .mapBox .contactFormBox .container {
    width: 1060px;
}

.contact .mapBox .contactFormBox .contactForm {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
    border-radius: 16px;
    padding: 60px;
    position: relative;
    overflow: hidden;
}

.contact .mapBox .contactFormBox .contactForm .formTitleBox {
    width: 100%;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    margin: 0 0 60px 0;
    color: #02044A;
}

.contact .mapBox .contactFormBox .contactForm ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.contact .mapBox .contactFormBox .contactForm ul li {
    width: 50%;
    padding: 0 20px 0 0;
}

.contact .mapBox .contactFormBox .contactForm ul li:nth-child(even) {
    padding: 0 0 0 20px;
}

.contact .mapBox .contactFormBox .contactForm ul li.full {
    width: 100%;
    padding: 0;
}

.contact .mapBox .contactFormBox .contactForm ul li .inputBox {
    width: 100%;
    margin: 0 0 30px 0;
    position: relative;
}

.contact .mapBox .contactFormBox .contactForm ul li .inputBox.error input {
    border: 1px solid #ff4c4c;
}

.contact .mapBox .contactFormBox .contactForm ul li .inputBox.error textarea {
    border: 1px solid #ff4c4c;
}

.contact .mapBox .contactFormBox .contactForm ul li .inputBox .inputName {
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    color: #02044A;
    margin: 0 0 10px 0;
}

.contact .mapBox .contactFormBox .contactForm ul li .inputBox input {
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #D9D9E4;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #6A6B93;
    font-family: Sofia Pro;
    font-style: normal;
}

.contact .mapBox .contactFormBox .contactForm ul li .inputBox input::placeholder {
    color: #6A6B93;
    letter-spacing: 5px;
}

.contact .mapBox .contactFormBox .contactForm ul li .inputBox input:focus {
    color: #02044A;
}

.contact .mapBox .contactFormBox .contactForm ul li .inputBox textarea {
    width: 100%;
    resize: none;
    background: #FFFFFF;
    border: 1px solid #D9D9E4;
    box-sizing: border-box;
    border-radius: 8px;
    height: 215px;
    padding: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #6A6B93;
    font-family: Sofia Pro;
    font-style: normal;
}

.contact .mapBox .contactFormBox .contactForm ul li .inputBox textarea::placeholder {
    color: #6A6B93;
    letter-spacing: 5px;
}

.contact .mapBox .contactFormBox .contactForm ul li .inputBox textarea:focus {
    color: #02044A;
}

.contact .mapBox .contactFormBox .contactForm .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
}

.contact .mapBox .contactFormBox .contactForm .mask.active {
    visibility: visible;
    opacity: 1;
}

.contact .mapBox .contactFormBox .contactForm .mask .iconBox {
    margin: 0 0 30px;
}

.contact .mapBox .contactFormBox .contactForm .mask .title {
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #02044A;
    margin: 0 0 15px;
}

.contact .mapBox .contactFormBox .contactForm .mask .desc {
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #02044A;
    text-align: center;
}

.linkBox {
    display: flex;
}

.linkBox button {
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    overflow: hidden;
    border-radius: 8px;
    background: #ffffff;
    color: #7E53F9;
    position: relative;
    transition: all .2s ease-in-out;
}

.linkBox button:after {
    position: absolute;
    transition: 0.3s;
    content: "";
    width: 0;
    left: auto;
    right: -10%;
    bottom: 0;
    height: 100%;
    background: #3E2093;
    transform: skewX(15deg);
    z-index: 1;
}

.linkBox button:hover {
    color: #ffffff;
    cursor: pointer;
}

.linkBox button:hover:after {
    left: -10%;
    right: auto;
    width: 120%;
}

.linkBox button span {
    position: relative;
    z-index: 2;
    display: flex;
}

.linkBox button.blueButtonArrow {
    background: #3E2093;
    color: #ffffff;
    padding: 18px 90px 18px 60px;
    position: relative;
}

.linkBox button.blueButtonArrow:hover {
    color: #7E53F9;
}

.linkBox button.blueButtonArrow:hover::before {
    right: 50px;
}

.linkBox button.blueButtonArrow::after {
    background: #7E53F9;
}

.linkBox button.blueButtonArrow::before {
    content: "";
    background-image: url("/images/right-arrow-white.png");
    width: 8px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 60px;
    top: calc(50% - 7px);
    z-index: 3;
    transition: right 0.2s ease-in-out;
}

.linkBox button.blueButtonArrow span {
    color: #FFFFFF;
}

@media screen and (max-width: 1699px) {
    .container {
        width: 1400px;
    }
}

@media screen and (max-width: 1499px) {
    .container {
        width: 1170px;
    }

    .contact .infoBox ul.box li.item {
        padding: 30px 0 30px 0;
    }

    .contact .infoBox ul.box li.item .descBox {
        padding: 0 30px;
    }
}

@media screen and (max-width: 1199px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .titleBox {
        margin: 0 0 45px 0;
    }

    .contact .infoBox {
        margin: 0 0 60px 0;
    }

    .contact .infoBox ul.box {
        flex-wrap: wrap;
    }

    .contact .infoBox ul.box li.item {
        width: 50%;
    }

    .contact .mapBox .contactFormBox .container {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .contact .infoBox {
        margin: 0 0 30px 0;
    }

    .contact .mapBox .contactFormBox .contactForm {
        padding: 40px;
    }

    .contact .mapBox .contactFormBox .contactForm ul li {
        width: 100%;
        padding: 0;
    }

    .contact .mapBox .contactFormBox .contactForm ul li:nth-child(even) {
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .titleBox {
        margin: 0 0 30px 0;
    }

    .titleBox .title {
        font-size: 32px;
        line-height: 42px;
    }

    .contact .infoBox ul.box {
        flex-wrap: wrap;
    }

    .contact .infoBox ul.box li.item {
        width: 100%;
        padding: 20px 0 20px 0;
    }

    .contact .infoBox ul.box li.item .imageBox {
        margin: 0 0 20px 0;
    }

    .contact .mapBox {
        margin: 0;
    }

    .contact .mapBox .contactFormBox .contactForm {
        padding: 30px 20px 30px 20px;
    }

    .contact .mapBox .contactFormBox .contactForm .formTitleBox {
        font-size: 32px;
        line-height: 42px;
        margin: 0 0 30px 0;
    }

    .contact .mapBox .contactFormBox .contactForm ul li .inputBox {
        margin: 0 0 15px 0;
    }

    .contact .mapBox .contactFormBox .linkBox a.blueButtonArrow {
        width: 100%;
    }
}