.container {
    width: 1600px;
    margin: 0 auto;
}

.contentDetail {
    width: 100%;
    padding: 120px 0;
}

.titleBox {
    width: 100%;
    margin: 0 0 60px 0;
}

.titleBox .title {
    width: 100%;
    color: #02044A;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
}

.corporate .isotopImage {
    width: 100%;
    margin: 0 0 30px 0;
}

.corporate .isotopImage ul {
    display: flex;
    margin: 0 -6.25px;
}

.corporate .isotopImage ul li {
    width: 25%;
    padding: 0 6.25px 0 6.25px;
    overflow: hidden;
}

.corporate .isotopImage ul li a {
    display: flex;
    height: 100%;
}

.corporate .isotopImage ul li .img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.corporate .isotopImage ul li.single a {
    height: 497px;
}

.corporate .isotopImage ul li.double.reverse {
    display: flex;
    flex-direction: column-reverse;
}

.corporate .isotopImage ul li.double.reverse a:last-child {
    padding: 0 0 12.5px 0;
}

.corporate .isotopImage ul li.double a:first-child {
    height: 187px;
}

.corporate .isotopImage ul li.double a:last-child {
    height: calc(100% - 187px);
    padding: 12.5px 0 0 0;
}

.corporate .textBox {
    width: 100%;
    margin: 0 0 120px 0;
}

.corporate .textBox .text {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #525265;
}

.corporate .textBox .text h2,
.corporate .textBox .text h3,
.corporate .textBox .text h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #02044A;
    margin: 0 0 30px 0;
}

.corporate .textBox .text p {
    width: 100%;
    margin: 0 0 30px 0;
}

.corporate .textBox .text strong {
    color: #02044A;
}

.corporate .textBox .text a {
    color: #02044A;
    text-decoration: underline;
    font-weight: bold;
}

.corporate .textBox .fancyboxImages {
    width: 100%;
}

.corporate .textBox .fancyboxImages ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.corporate .textBox .fancyboxImages ul li {
    position: relative;
    width: 377px;
    margin: 0 30px 30px 0;
}

.corporate .textBox .fancyboxImages ul li:nth-child(4n) {
    margin: 0 0 30px 0;
}

.corporate .textBox .fancyboxImages ul li:hover a::before {
    opacity: 1;
}

.corporate .textBox .fancyboxImages ul li a {
    width: 100%;
    display: flex;
}

.corporate .textBox .fancyboxImages ul li a::before {
    content: "";
    width: 70px;
    height: 70px;
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    background-image: url(/images/zoom.png);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.corporate .textBox .fancyboxImages ul li a .imageBox {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.corporate .textBox .fancyboxImages ul li a .imageBox .image {
    width: 100%;
    height: 320px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.corporate .ourTeam {
    width: 100%;
    margin: 0 0 120px 0;
}

section.corporate .ourTeam ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -22px;
}

section.corporate .ourTeam ul li {
    padding: 0 22px;
    margin: 0 0 44px 0;
    width: 16.6666%;
}

section.corporate .ourTeam ul li .imageBox {
    width: 100%;
    height: 300px;
    margin: 0 0 15px 0;
    border-radius: 8px;
    overflow: hidden;
}

section.corporate .ourTeam ul li .imageBox .img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

section.corporate .ourTeam ul li .name {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #202124;
    margin: 0 0 10px 0;
}

section.corporate .ourTeam ul li .title {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #6A6B93;
}

@media screen and (max-width: 1699px) {
    .container {
        width: 1400px;
    }

    section.corporate .ourTeam ul li .imageBox {
        height: 261px;
    }
}

@media screen and (max-width: 1499px) {
    .container {
        width: 1170px;
    }

    .corporate .isotopImage ul li.single a {
        height: 360px;
    }

    .corporate .isotopImage ul li.double a:first-child {
        height: 135px;
    }

    .corporate .isotopImage ul li.double a:last-child {
        height: calc(100% - 135px);
    }

    section.corporate .ourTeam ul {
        margin: 0 -15px;
    }

    section.corporate .ourTeam ul li {
        padding: 0 15px;
    }

    section.corporate .ourTeam ul li .imageBox {
        height: 222px;
    }
}

@media screen and (max-width: 1199px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .titleBox {
        margin: 0 0 45px 0;
    }

    .corporate .isotopImage ul {
        flex-wrap: wrap;
    }

    .corporate .isotopImage ul li {
        width: 50%;
        margin: 0 0 12.5px 0;
    }

    .corporate .isotopImage ul li.single a {
        height: 604px;
    }

    .corporate .isotopImage ul li.double a:first-child {
        height: 227px;
    }

    .corporate .isotopImage ul li.double a:last-child {
        height: calc(100% - 227px);
    }

    .corporate .textBox .fancyboxImages ul li {
        width: 300px;
        margin: 0 15px 15px 0;
    }

    .corporate .textBox .fancyboxImages ul li a .imageBox .image {
        height: 255px;
    }

    section.corporate .ourTeam {
        margin: 0 0 15px 0;
    }

    section.corporate .ourTeam ul li {
        width: 33.3333%;
    }

    section.corporate .ourTeam ul li .imageBox {
        height: 391px;
    }
}

@media screen and (max-width: 991px) {
    .corporate .isotopImage ul li.single a {
        height: 461px;
    }

    .corporate .isotopImage ul li.double a:first-child {
        height: 174px;
    }

    .corporate .isotopImage ul li.double a:last-child {
        height: calc(100% - 174px);
    }

    section.corporate .ourTeam ul li {
        width: 50%;
        margin: 0 0 30px 0;
    }

    section.corporate .ourTeam ul li .imageBox {
        height: 462px;
    }
}

@media screen and (max-width: 767px) {

    .titleBox {
        margin: 0 0 30px 0;
    }

    .titleBox .title {
        font-size: 32px;
        line-height: 42px;
    }

    .corporate .isotopImage ul {
        margin: 0 -3px;
    }

    .corporate .isotopImage ul li {
        padding: 0 3px 0 3px;
        margin: 0 0 6px 0;
    }

    .corporate .isotopImage ul li.single a {
        height: 212px;
    }

    .corporate .isotopImage ul li.double.reverse a:last-child {
        padding: 0 0 6px 0;
    }

    .corporate .isotopImage ul li.double a:first-child {
        height: 80px;
    }

    .corporate .isotopImage ul li.double a:last-child {
        height: calc(100% - 80px);
        padding: 6px 0 0 0;
    }

    .corporate .textBox .text h2,
    .corporate .textBox .text h3,
    .corporate .textBox .text h4 {
        margin: 0 0 15px 0;
        font-size: 16px;
        line-height: 26px;
    }

    .corporate .textBox .text p {
        margin: 0 0 15px 0;
        font-size: 14px;
        line-height: 24px;
    }

    .corporate .textBox .fancyboxImages {
        padding: 15px 0;
    }

    .corporate .textBox .fancyboxImages ul li {
        width: 100%;
        margin: 0 0 15px 0;
    }

    .corporate .textBox .fancyboxImages ul li a .imageBox .image {
        height: 293px;
    }

    section.corporate .ourTeam ul li {
        width: 100%;
    }

    section.corporate .ourTeam ul li:last-child {
        margin: 0;
    }

    section.corporate .ourTeam ul li .imageBox {
        height: 450px;
    }
}