.lightBoxItem {
    float: left;
    width: 200px;
    margin: 10px;
}

.lightBoxItem:first-child {
    width: 940px;
}

.lightBoxItem .lightBoxItemChild {
    width: 100%;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
}

.lightBoxItem .lightBoxItemChild::before {
    content: "";
    width: 55px;
    height: 55px;
    position: absolute;
    background-image: url(/images/zoom.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.lightBoxItem.lastLi .lightBoxItemChild::before {
    display: none;
}

.videoContainer {
    height: 100%;
    display: flex;
    position: relative;
    float: none;
    overflow: visible;
}

.lightBoxItem .lightBoxItemChild.video-icon::before {
    background-image: url(/images/player_btn.png);
}

.lightBoxItem .lightBoxItemChild:hover::before {
    opacity: 1;
}

.lightBoxItem .lightBoxItemChild .imageBox {
    display: flex;
    width: 100%;
    height: 200px;
}

.lightBoxItem:first-child .lightBoxItemChild .imageBox {
    height: 640px;
}

.lightBoxItem.lastLi .lightBoxItemChild span {
    width: 55px;
    height: 55px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #02044A;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.lightBoxItem.lastLi .lightBoxItemChild:hover span {
    opacity: 1;
}

.lightBoxItem .lightBoxItemChild .imageBox .img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

@media screen and (max-width: 1699px) {
    .lightBoxItem:first-child {
        width: 740px;
    }
}

@media screen and (max-width: 1499px) {
    .lightBoxItem {
        width: 160px;
    }

    .lightBoxItem:first-child {
        width: 630px;
    }

    .lightBoxItem .lightBoxItemChild .imageBox {
        height: 160px;
    }

    .lightBoxItem:first-child .lightBoxItemChild .imageBox {
        height: 520px;
    }
}

@media screen and (max-width: 1199px) {
    .lightBoxItem {
        width: calc((45% - 80px) / 3);
    }

    .lightBoxItem:first-child {
        width: 55%;
    }

    .lightBoxItem .lightBoxItemChild .imageBox {
        height: 115px;
    }

    .lightBoxItem:first-child .lightBoxItemChild .imageBox {
        height: 385px;
    }
}

@media screen and (max-width: 991px) {
    .lightBoxItem .lightBoxItemChild .imageBox {
        height: 85px;
    }

    .lightBoxItem:first-child .lightBoxItemChild .imageBox {
        height: 295px;
    }
}

@media screen and (max-width: 767px) {
    .lightBoxItem.lastLi {
        display: none;
    }

    .lightBoxItem {
        width: calc(100% / 4);
        margin: 0 0 5px 0;
        padding: 0 2.5px;
    }

    .lightBoxItem:first-child {
        width: 100%;
    }

    .lightBoxItem .lightBoxItemChild::before {
        width: 30px;
        height: 30px;
    }

    .lightBoxItem .lightBoxItemChild .imageBox {
        height: 81px;
    }

    .lightBoxItem:first-child .lightBoxItemChild .imageBox {
        height: 253px;
    }
}