.newVillas {
    width: 100%;
    min-height: 640px;
    position: relative;
    padding: 105px 0 60px 0;
}

.corousel {
    padding-bottom: 60px;
}

.newVillas::before {
    content: '';
    width: 100%;
    height: 640px;
    background-image: url(/images/newVillasBg.png);
    background-color: #02044A;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.newVillas .box {
    width: 100%;
    position: relative;
    z-index: 2;
}

.titleBox {
    width: 100%;
    margin: 0 0 60px 0;
}

.titleBox.white .title {
    color: #ffffff;
}

.titleBox.white .subTitle {
    color: #ffffff;
}

.titleBox .title {
    width: 100%;
    color: #02044A;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
}

.titleBox .subTitle {
    width: 100%;
    margin: 10px 0 0 0;
    color: #525265;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
}

.newVillas .box .top {
    width: 100%;
    position: relative;
}

.carouselButtonGroup .arrowButton {
    z-index: 10;
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 60px;
    position: absolute;
    top: calc(50% - 50px);
    left: -100px;
    background-image: url(/images/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.carouselButtonGroup .arrowButton:hover {
    opacity: 0.8;
}

.carouselButtonGroup .arrowButton.prev {
    transform: rotate(180deg);
}

.carouselButtonGroup .arrowButton.next {
    right: -100px;
    left: inherit;
}

.owlCarousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1699px) {
    .container {
        width: 1400px;
    }
}

@media screen and (max-width: 1499px) {
    .container {
        width: 1170px;
    }
}

@media screen and (max-width: 1199px) {
    .newVillas {
        padding: 45px 0 0;
    }

    .newVillas::before {
        height: 500px;
    }

    .container {
        width: 100%;
        padding: 0 15px;
    }

    .titleBox {
        margin: 0 0 45px 0;
    }
}

@media screen and (max-width: 767px) {
    .newVillas {
        padding: 30px 0 0;
    }

    .titleBox {
        margin: 0 0 30px 0;
    }

    .titleBox .title {
        font-size: 32px;
        line-height: 42px;
    }
}