.breadCrumb {
  width: 100%;
  height: 80px;
  background-color: #f9f9fb;
  display: flex;
  align-items: center;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.breadCrumb .breadCrumbBox {
  display: flex;
  justify-content: space-between;
}

.breadCrumb .breadCrumbBox ul.breadCrumbList {
  display: flex;
}

.breadCrumb .breadCrumbBox ul.breadCrumbList li.breadCrumbItem::before {
  content: "/";
  padding: 0 10px 0 10px;
}

.breadCrumb
  .breadCrumbBox
  ul.breadCrumbList
  li.breadCrumbItem:first-child::before {
  display: none;
}

.breadCrumb .breadCrumbBox ul.breadCrumbList li.breadCrumbItem:last-child a {
  color: #02044a;
}

.breadCrumb .breadCrumbBox ul.breadCrumbList li.breadCrumbItem a {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #525265;
  transition: color 0.3s ease-in-out;
  position: relative;
}

.breadCrumb .breadCrumbBox ul.breadCrumbList li.breadCrumbItem a:hover {
  color: #02044a;
}

.contentDetail {
  width: 100%;
  padding: 120px 0;
}

.villaDetail {
  width: 100%;
  padding: 60px 0 0 0;
}

.villaDetail .villaDetailContentBox {
  width: 100%;
}

.villaDetail .villaDetailContentBox .villaDetailContent {
  width: 100%;
  display: flex;
}

.villaDetail .villaDetailContentBox .villaDetailContent .left {
  width: calc(100% - 375px);
  padding: 0 165px 0 0;
  position: relative;
}

.villaDetail .dualBoxes {
  width: 100%;
  margin: 0 0 60px 0;
}

.villaDetail .dualBoxes .row {
  margin: 0 -15px;
}

.villaDetail .dualBoxes ul {
  width: 100%;
  display: flex;
  padding: 0 0 50px 0;
}

.villaDetail .dualBoxes ul li {
  width: 50%;
  padding: 0 15px;
  overflow: hidden;
}

.villaDetail .dualBoxes ul li.popupImage:hover .box a::before {
  opacity: 1;
}

.villaDetail .dualBoxes ul li.popupImage:hover {
  cursor: pointer;
}

.villaDetail .dualBoxes ul li.popupImage:hover .box a .imageBox .img {
  transform: scale(1.1);
}

.villaDetail .dualBoxes ul li.popupImage:hover .box .videoItem {
  cursor: pointer;
  transform: scale(1.1);
}

.villaDetail .dualBoxes ul li .title {
  width: 100%;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  color: #02044a;
  margin: 0 0 30px 0;
}

.villaDetail .dualBoxes ul li .box {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  height: 400px;
}

.villaDetail .dualBoxes ul li .box a {
  display: flex;
  width: 100%;
  width: 100%;
  height: 100%;
  position: relative;
}

.villaDetail .dualBoxes ul li .box a::before {
  content: "";
  position: absolute;
  left: calc(50% - 35px);
  top: calc(50% - 35px);
  background-image: url(/images/player_btn.png);
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  z-index: 2;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.villaDetail .dualBoxes ul li .box a .imageBox {
  display: flex;
  width: 100%;
  height: 100%;
}

.villaDetail .dualBoxes ul li .box a .imageBox .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transition: transform 0.4s ease-in-out;
}

.villaDetail .apartments {
  width: 100%;
  position: relative;
  padding: 105px 0 105px 0;
  background: #f9f9fb;
}

.villaDetail .apartments .box {
  width: 100%;
}

.villaDetail .apartments .box .row {
  margin: 0 -15px;
}

.villaDetail .apartments .box ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.titleBox {
  width: 100%;
  margin: 0 0 60px 0;
}

.titleBox .title {
  width: 100%;
  color: #02044a;
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
}

.titleBox .subTitle {
  width: 100%;
  margin: 10px 0 0 0;
  color: #525265;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
}

.villaDetail .villaDetailContentBox .villaDetailContent .right {
  width: 375px;
}

.villaDetail .villaDetailContentBox .villaDetailContent .right .turizmContainer {
  width: 100%;
  max-width: 400px;
  border: 1px solid #D9D9E4;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 20px 0 20px 27px;
}

.villaDetail .villaDetailContentBox .villaDetailContent .right .turizmContainer .turizmTitleAndNo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.villaDetail .villaDetailContentBox .villaDetailContent .right .general {
  width: 375px;
}

.dateRange {
  position: absolute;
  z-index: 5;
  top: 80px;
  border: 1px solid #d9d9e4;
  border-radius: 8px;
  box-shadow: 0px 40px 30px rgb(25 25 46 / 4%);
}

.videoContainer {
  height: 100%;
  display: flex;
  position: relative;
  float: none;
  overflow: visible;
}

.videoItem {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

section.villaDetail .customerCommentsBox {
  width: 100%;
  margin: 0 0 120px 0;
}

section.villaDetail .customerCommentsBox .customerComments {
  width: 100%;
}

@media screen and (max-width: 1699px) {
  .container {
    width: 1400px;
  }

  .villaDetail .villaDetailContentBox .villaDetailContent .left {
    padding: 0 80px 0 0;
  }
}

@media screen and (max-width: 1499px) {
  .container {
    width: 1170px;
  }

  .villaDetail .villaDetailContentBox .villaDetailContent .left {
    width: calc(100% - 320px);
    padding: 0 50px 0 0;
  }

  .villaDetail .dualBoxes ul li .box {
    height: 290px;
  }

  .villaDetail .villaDetailContentBox .villaDetailContent .right {
    width: 320px;
  }

  .villaDetail .villaDetailContentBox .villaDetailContent .right .general {
    width: 320px;
  }

  .dateRange {
    left: -40px;
  }

  .villaDetail .villaDetailContentBox .villaDetailContent .right .turizmContainer {
    width: 100%;
    max-width: 400px;
    border: 1px solid #D9D9E4;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 20px 0 20px 10px;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .villaDetail {
    padding: 45px 0 0 0;
  }

  .villaDetail .villaDetailContentBox .villaDetailContent {
    flex-direction: column;
  }

  .villaDetail .villaDetailContentBox .villaDetailContent .left {
    width: 100%;
    padding: 0;
  }

  .villaDetail .dualBoxes ul {
    padding: 0;
  }

  .villaDetail .dualBoxes ul li .box {
    height: 237px;
  }

  .titleBox {
    margin: 0 0 45px 0;
  }

  .villaDetail .villaDetailContentBox .villaDetailContent .right {
    width: 100%;
    margin: 0 0 45px 0;
  }

  .villaDetail .villaDetailContentBox .villaDetailContent .right .general {
    width: 100%;
  }

  .dateRange {
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .breadCrumb .breadCrumbBox {
    flex-direction: column;
  }

  .breadCrumb .breadCrumbBox ul.breadCrumbList {
    width: 100%;
    margin: 0 0 15px 0;
    justify-content: center;
  }

  .breadCrumb .breadCrumbBox ul.breadCrumbList li.breadCrumbItem::before {
    padding: 0 2.5px;
  }

  .breadCrumb .breadCrumbBox ul.breadCrumbList li.breadCrumbItem a {
    font-size: 12px;
  }

  .villaDetail {
    padding: 30px 0 0 0;
  }

  .villaDetail .dualBoxes {
    margin: 0 0 30px 0;
  }

  section.villaDetail .customerCommentsBox {
    margin: 0 0 30px 0;
  }

  .villaDetail .dualBoxes ul {
    flex-direction: column;
  }

  .villaDetail .dualBoxes ul li {
    width: 100%;
    margin: 0 0 30px 0;
  }

  .villaDetail .dualBoxes ul li:last-child {
    margin: 0;
  }

  .villaDetail .dualBoxes ul li .title {
    margin: 0 0 10px 0;
    font-size: 20px;
    line-height: 30px;
  }

  .villaDetail .dualBoxes ul li .box {
    height: 176px;
  }

  .titleBox {
    margin: 0 0 30px 0;
  }

  .titleBox .title {
    font-size: 32px;
    line-height: 42px;
  }

  .villaDetail .villaDetailContentBox .villaDetailContent .right {
    margin: 0 0 30px 0;
  }
}

.inputFeedback {
  color: red;
  margin-top: 0.25rem;
  font-size: 15px;
}
