html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

#__next {
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Sofia Pro", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  position: relative;
  z-index: 2;
}

img {
  border: 0;
}

:focus {
  outline: 0;
}

.clear {
  clear: both;
}

@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Sofia Pro"),
    url("/fonts/Sofia-Pro-Regular-Az.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 300;
  src: local("Sofia Pro"), url("/fonts/Sofia-Pro-Light-Az.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 500;
  src: local("Sofia Pro"), url("/fonts/Sofia-Pro-Medium-Az.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Sofia Pro"),
    url("/fonts/Sofia-Pro-Semi-Bold-Az.woff") format("woff");
}

#contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.listPage_container {
  width: 1600px;
  margin: 0 auto;
}

.listPage_villasDetail {
  padding: 60px 0 60px 0;
  background: #f9f9fb;
}

.listPage_contentDetail {
  width: 100%;
}

.listPage_villasDetail .villas {
  width: 100%;
  position: relative;
}

.listPage_villasDetail .villas .box {
  width: 100%;
}

.listPage_villasDetail .villas .box .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.listPage_villasDetail .villas .box .top .titleBox {
  /*width: 50%;*/
  margin: 0 0 60px 0;
}

.listPage_villasDetail .villas .box .top .titleBox .title {
  text-align: left;
}

.listPage_villasDetail .villas .box .top .titleBox .subTitle {
  text-align: left;
}

.listPage_villasDetail .titleBox .title {
  width: 100%;
  color: #02044a;
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
}

.listPage_villasDetail .titleBox .subTitle {
  width: 100%;
  margin: 10px 0 0 0;
  color: #525265;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
}

.listPage_villasDetail .villas .box .bottom {
  width: 100%;
}

.listPage_villasDetail .villas .box .bottom .row {
  margin: 0 -15px;
  position: relative;
}

.listPage_villasDetail .villas .box .bottom ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.lg-react-element {
  width: 100%;
  float: left;
  overflow: hidden;
}

.loadingBox {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #02044a;
  top: 0;
  left: 0;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingEffect {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingEffect::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px dashed #ffffff;
  border-radius: 50%;
  -webkit-animation: loadingRotate 15s linear infinite;
  animation: loadingRotate 15s linear infinite;
}

.loadingLogo {
  position: absolute;
  left: calc(50% - 71px);
  top: calc(50% - 28px);
  width: 142px;
  height: 56px;
}

.reservation_colonInput__dbL_v input {
  background: none !important;
}

.date-picker-reservation {
  width: 100% !important;
  position: relative;
}

.react-datepicker-popper {
  width: 100% !important;
  justify-content: center;
  align-items: center;
  display: flex !important;
  top: 30px !important;
  z-index: 100 !important;
}

@keyframes loadingRotate {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1699px) {
  .listPage_container {
    width: 1400px;
  }
}

@media screen and (max-width: 1499px) {
  .listPage_container {
    width: 1170px;
  }
}

@media screen and (max-width: 1199px) {
  .listPage_container {
    width: 100%;
    padding: 0 15px;
  }

  .listPage_contentDetail.listPage_villasDetail {
    padding: 45px 0;
  }

  /* .react-datepicker-popper {
    width: 100% !important;
    justify-content: center;
    align-items: center;
    display: block !important;
    top: 30px !important;
    z-index: 100 !important;
  } */
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker__month-container {
  width: 50% !important;
  margin-bottom: 20px !important;
}

.react-datepicker__current-month {
  margin: 0px !important;
  line-height: 25px !important;
  color: #02044a !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  text-align: center !important;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.react-datepicker__day-name {
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 19px !important;
  color: #02044a !important;
}

.react-datepicker__week {
  font-size: 15px !important;
}

.react-datepicker__header {
  background-color: #fff !important;
  border: none !important;
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
  line-height: 40px !important;
  width: 40px !important;
}

.react-datepicker__day--keyboard-selected {
  background: #7e53f9 !important;
  color: #ffffff !important;
  border-radius: 50% !important;
  width: 40px !important;
}

.react-datepicker__day--in-range {
  background: #7e53f9 !important;
  border-radius: 50% !important;
  color: #ffffff !important;
}

.react-datepicker__day--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ) {
  background-color: #7e53f9 !important;
  border-radius: 50%;
  opacity: 0.8;
}

.react-datepicker {
  display: flex !important;
  font-family: "Sofia Pro", sans-serif !important;
  background: #ffffff;
  box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
  border-radius: 8px !important;
}

@media screen and (max-width: 767px) {
  .react-datepicker {
    display: block !important;
    padding: 15px;
  }

  .react-datepicker-popper {
    width: 100% !important;
    position: fixed !important;
    top: 0 !important;
    transform: none !important;
    display: flex !important;
    height: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: rgba(25, 25, 46, 0.75);
  }

  .react-datepicker__month-container {
    width: 100% !important;
    margin-bottom: 20px !important;
    float: none !important;
  }

  .listPage_contentDetail.listPage_villasDetail {
    padding: 30px 0;
  }

  .react-datepicker__navigation {
    width: 50px !important;
    height: 50px !important;
  }
}

@media only screen and (max-width: 400px) {
  .react-datepicker__day,
  .react-datepicker__month-text,
  .react-datepicker__quarter-text,
  .react-datepicker__year-text {
    line-height: 30px !important;
    width: 30px !important;
  }

  .react-datepicker__day-names {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
  }

  .react-datepicker__day--keyboard-selected {
    width: 30px !important;
  }
}

.date-picker-reservation .react-datepicker {
  display: block !important;
  font-family: "Sofia Pro", sans-serif !important;
  background: #ffffff;
  box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
  border-radius: 8px !important;
}

.date-picker-reservation .react-datepicker__month-container {
  width: 100% !important;
  margin-bottom: 20px !important;
  float: none !important;
}

.activatesGallery {
  margin-bottom: 50px;
}
